/* setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
}
body{
    width: 100%;
}
:root{
    --nav-color:#f6f6f6;
    --second-bg-color:#F7E1AE;
    --text-color:#ffffff;
    --main-color:#617A55 ;
    --bg-color:#fffef7;
    --text2-color:#000000;
    --arrow-bg: rgba(255, 255, 255, 0.3);
      --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
      --option-bg: white;
      --select-bg: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--text2-color);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--text2-color);

}

h4 {
    font-size:20px ;
    color: var(--text2-color);

}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: var(--text2-color);
    margin: 15px 0 20px 0 ;
}

.section-p1 {
    padding: 30px 30px ;

}

.section-m1 {
    margin: 40px 0;
    
}
/* loaders */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

  
/* header section */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:var(--nav-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative; 
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--text2-color);
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active{
    color: var(--second-bg-color)
}

#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background: var(--second-bg-color);
position: absolute;
bottom: -4px;
left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* Page-header section */
    #page-header{
        background-image: url(img/about/banner.png);
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;

    }
    #page-header h2,
    #page-header p {
        color: var(--text-color);
    }
    
/* about-head section */

  #about-head{
    display: flex;
    align-items: center;
  }

  #about-head img{
    width: 50%;
    height: auto;
  }
  #about-head div{
    padding-left: 40px;
  }

  /* about-app section */
  #about-app{
    text-align:center ;
  }

  #about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  #about-app .video video{
    width: 100%;
    height: 100%;
   border-radius: 20px;
  }

/* featurs section */
#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }

   #feature .card {
    position: relative;
    width: 200px;
    height: 240px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 10px 10px 10px 10px ;
    
  }
  
  #feature .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  #feature .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  #feature .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  #feature .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  #feature .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  #feature .card:hover svg {
    scale: 0;
  }
  
  #feature .card__description {
    margin: 15px 0 0;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
   /* Newsletter Section */

   #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--main-color);
  }

  #newsletter h4{
    color: var(--text-color);
    font-weight: 700;
    font-size: 40px;
  }

  #newsletter p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 22px;
  }

  #newsletter p span{
    color: var(--second-bg-color);

  }
  #newsletter .from{
    display: flex;
    width: 40%;
  }
   #newsletter .input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1em ;
  background-color: #e2e2e2;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  height: 3.125rem;
  width: 70%;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #c7c7c7,
             -13px -13px 100px #ffffff;
}
  #newsletter button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    height: 3.125rem;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }

   /* footer section */
   footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   footer .col{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-bottom: 20px;
   }

   footer .logo{
    margin-bottom: 30px;
   }

   footer h4{
    font-size: 22px;
    padding-bottom: 20px;
   }

   footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
   }

   footer a{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    color: var(--text2-color);
    margin-bottom: 10pxs;
   }

   footer .follow{
      margin-top: 20px;
   }
   footer .follow i{
    color: #617A55;
    padding-right: 4px;
    cursor: pointer;
 }

 footer .install .row img{
    border: 1px solid var(--main-color);
    border-radius: 5px ;
  
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #000000;

}

footer .copyright{
  width: 100%;
  text-align: center;
}
